ul {
list-style-type: none;
}
.mainnav {
    display: flex;
    justify-content: space-between;
}
.headerx {
    width: 1080px;
    margin:0px auto;
}
.menubutton {
    padding:10px;
    width:100px;
    border: 1px black solid;
    text-align: center;
}